<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<h1>ERP Home Page Hi whit </h1>
<h3>we build ERP for 30 business sector</h3>
<a href="/person" >person</a>
</body>
</html>
